    /* Style Sheet for WebDev2023 Portfolio */
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: purple;
    }

    .fixednav {
        display: none;
    }

    nav {
        border: 15px solid purple;
        border-radius: 12px;
        background-color: black;
        display: flex;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        color: yellow;
        margin-left: 5rem;
    }
    
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: purple;
    }
    
    .nav-link:hover{
        color: yellow;
    }
    
    .nav-logo {
        font-size: 2.1rem;
        font-weight: 500;
        color: purple;
    }

    .hamburger {
        display: none;
    }   
    
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        /*background-color: #f2f2f2;*/
        background: linear-gradient(purple, black );
        }
        
        img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        }
        
        h1 {
        font-size: 36px;
        margin-top: 50px;
        /*color: #4d4d4d;*/
        color: purple;
        font-family: 'Press Start 2P', cursive;
        }
        
        h2 {
        font-size: 24px;
        margin-top: 25px;
        /*color: #4d4d4d;*/
        color: purple;
        font-family: 'Press Start 2P', cursive;
        }
    
        ul {
        font-family: 'Press Start 2P', cursive;
        list-style-type: none;
        font-size: 16px;
        margin-top: 25px;
        color: purple;
        }
        
        li {
        margin-bottom: 15px;
        }
        
        p {
        margin-bottom: 0;
        }
        
        a {
        color: #0077c9;
        text-decoration: none;
        }
    
        body li a {
            color: purple
        }
        
        iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        }

        footer {
            font-family: 'Press Start 2P', cursive;
            font-size: 1em;
            color: purple;
        }

        footer a {
            color: purple;
            font-size: 1.5em;
            font-family: 'Bebas Neue', cursive;
        }

        footer a:hover {
            background-color: yellow;
        }


        #footerbox {
            width: 400px;
            padding: 0px;
            margin: 10px auto;
            border: 15px solid purple;
            border-radius: 12px;
            background-color: black;
        }

        #headerbox {
            width: auto;
            padding: 0px;
            margin: 10px auto;
            border: 15px solid purple;
            border-radius: 12px;
            background-color: black;
        }

        #contactlist{
            color: purple;
            border: 15px solid purple;
            border-radius: 12px;
            background-color: black;
        }

        #contactlist li a {
            color: yellow;
        }

        #contactlist li a:hover{
            background-color: purple;
        }

        .error {
            border: 2px solid red;
        }

        #formbox{
            width: auto;
            padding: 0px;
            margin: 10px auto;
            border: 15px solid purple;
            border-radius: 12px;
            background-color: black;
            color: white;
        }

        .ptext {
            font-size: 1.5em;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
          }
          
          label {
            font-weight: bold;
          }
          
          input[type="email"], input[type="text"] {
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 50%;
            box-sizing: border-box;
          }
          
          input[type="checkbox"] {
            margin-right: 5px;
          }
          
          #interests-label {
            margin-top: 10px;
          }
          
          input[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
          }
          

        /* For mobile phones: */
        @media only screen and (max-width: 769px) {
            .desktop {
                display: none;
            }
            #desktop{
                display: none;
            }

            .fixednav {
                display: none;
                text-align: center;
                font-size: 2em;
            }

            .fixednav li {
                display: block;
            }
            
            .fixednav li a:hover{
                background-color: yellow;
            }

            .nav-menu {
                position: fixed;
                left: -100%;
                top: 5rem;
                width: 100%;
                border-radius: 10px;
                text-align: center;
                transition: 0.3s;
                box-shadow:
                    0 10px 27px rgba(0, 0, 0, 0.05);
                display: block;
                padding: 100px;
            }
        
            .nav-menu.active {
                left: 0;
            }
        
            .nav-item {
                margin: 2.5rem 0;
                display: none;
            }
        
            .hamburger {
                display: block;
                cursor: pointer;
            }

            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
        
            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
        
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }


            #footerbox {
                width: auto;
                padding: auto;
                margin: auto;
                border: 15px solid purple;
                border-radius: 12px;
                text-align: center;
                color: yellow;
            }


            #footerbox a {
                color: yellow;
            }

            #headerbox {
                width: auto;
                padding: auto;
                margin: auto;
                border: 15px solid purple;
                border-radius: 12px;
                text-align: center;
                color: yellow;
            }

            nav a {
                text-align: center;
                font-size: auto;
            }

            #space {
                display: block;
            }

            .connerpicmobile {
                max-height: 100%;
                max-width: 100%;
            }

            #contactlist {
                width: auto;
                padding: auto;
                margin: auto;
                border: 15px solid purple;
                border-radius: 12px;
                text-align: center;
                color: yellow;
            }

            iframe{
                width: auto;
                height: auto;
                padding: auto;
                margin: auto;
            }

            .emaillink {
                font-size: 0.58em;
            }
        }

        @media only screen and (min-width: 770px) {
            #mobile {
                display: none;
            }

            .mobile {
                display: none;
            }
        }