    /* Style Sheet for WebDev2023 Portfolio */
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f2f2f2;
        }
        
        img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        }
        
        h1 {
        font-size: 36px;
        margin-top: 50px;
        color: #4d4d4d;
        font-family: 'Press Start 2P', cursive;
        }
        
        h2 {
        font-size: 24px;
        margin-top: 25px;
        color: #4d4d4d;
        font-family: 'Press Start 2P', cursive;
        }
        
        h3 {
        font-size: 18px;
        margin-top: 50px;
        color: #4d4d4d;
        font-family: 'Press Start 2P', cursive;
        }
    
        /* style rules for nav */
        nav {
            text-align: center;
            font-size: 18px;
            color: #4d4d4d
        }
    
        nav a {
            color: purple;
            font-family: 'Bebas Neue', cursive;
            font-size: 2em;
        }
        
        ul {
        list-style-type: none;
        font-size: 16px;
        margin-top: 25px;
        color: #4d4d4d;
        }
        
        li {
        margin-bottom: 15px;
        }
        
        p {
        margin-bottom: 0;
        }
        
        a {
        color: #0077c9;
        text-decoration: none;
        }
    
        body li a {
            color: purple
        }
        
        iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border: 1px solid #4d4d4d;
        }

        footer {
            font-family: 'Press Start 2P', cursive;
            font-size: 1em;
        }

        footer a {
            color: purple;
            font-size: 1.5em;
            font-family: 'Bebas Neue', cursive;
        }

        #navbox {
            width: auto;
            padding: 0px;
            margin: 10px auto;
            border: 15px solid gray;
            border-radius: 12px;
            text-align: center;
        }