body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  header h1 {
    color: black;
    margin: 0;
    font-family: 'Gajraj One', cursive;
  }

  header h2 {
    position: absolute;
    color: black;
    top: 35px;
    left: 16px;
    text-align: left;
    font-family: 'Gajraj One', cursive;
    font-size: 1.2em;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    padding: 1em;
  }