
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  header h1 {
    color: black;
    margin: 0;
    font-family: 'Gajraj One', cursive;
  }

  header h2 {
    position: absolute;
    color: black;
    top: 35px;
    left: 16px;
    text-align: left;
    font-family: 'Gajraj One', cursive;
    font-size: 1.2em;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    padding: 1em;
  }
  
  section {
    padding: 1em;
  }

  #mascotpic {
    text-align: left;
    width: 100px;
    height: 100px;
  }

  #mascotpic2 {
    position: absolute;
    text-align: right;
    top: 455px;
    left: 1000px;
    width: 100px;
    height: 100px;
  }
  
  #contactusforum {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  
  #contactusforum input[type="text"], #contactusforum input[type="number"] {
    width: 200px;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    color: black;
  }
  
  #contactusforum label {
    width: 200px;
    text-align: left;
    margin-bottom: 0.5em;
    color: white;
  }
  
  #contactusforum input[type="button"] {
    background-color: lightblue;
    color: black;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1em;
  }

  #colorfix{
    color: white;
    font-family: 'Gruppo', cursive;
  }

  #debuggingsum {
    color: white;
    font-family: 'Gruppo', cursive;
  }


  .wrapper {
    display: grid;
    place-content: left;
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(0.15rem, 0.1rem + 1.8vw, 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
  

